[phases.setup]
nixPkgs = ['libwebp', 'zlib', 'libjpeg', 'libpng', 'gcc', 'libxml2']

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn app:app --host 0.0.0.0 --port $PORT"